


<h1>Payment Results</h1>

<p>APR: <%= sprintf("%.4f%%", @apr) %></p>
<p>Number of Years: <%= @years.to_i %></p>
<p>Principal: <%= @present_value.to_fs(:currency)   %></p>
<p>Payment: <%= @monthly_payment.to_fs(:currency)   %></p>

<a href="/payment/new">Calculate another payment</a>
