<form action="/payment/results" method ="post">

  <div>
    <label for="apr">APR</label>
    <input id="apr" type="text" name="apr" placeholder="E.g. 5.0">
  </div>

  <div>

  <label for ="years">Number of years</label>

  <input id="years" type="text" name="years" placeholder="How many years to repay ?">
  </div>

  <label for ="principal_input">Principal</label>

  <input id="principal_input" type="text" name="principal" placeholder="How much principal?">
  </div>

  <button type = "submit">Calculate Monthly Payment</button>

</form>

<a href="/payment/new">Calculate another payment</a>
