<form action = "/square/root" method="get">
  <label>Enter a number</label>

  <input name="number" type="number" placeholder = "What number do you want to square root">

  <button>Calculate square root</button>
</form>
