<form action = "/square/results">
  <label>Enter a number</label>

  <input name="number" type="number" placeholder = "What number do you want to square">

  <button>Calculate square</button>
</form>
